html, body{
    height: 100%;
    background-image: url(media/paperGAMEBOYbase2.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
}