html, body{
    height: 100%;
    background-image: url(media/paperGAMEBOYbase2.jpg);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#content {
    flex-grow: 1;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

em {
    font-weight: bold;
}